# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Database files
*.db
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor specific
.vscode/
.idea/